lokservice-api/src/wsdl/logService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="logService"
  targetNamespace="http://services.koku.fi/utility/log/v1"
  xmlns:tns="http://services.koku.fi/utility/log/v1"
  xmlns:log="http://services.koku.fi/utility/log/v1"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:documentation>
    KoKu log service contract definition.

    version: 0.9
    Ixonos / aspluma
    
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://services.koku.fi/utility/log/v1" schemaLocation="log.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <!-- common messages -->
  <wsdl:message name="AuditHeader">
    <wsdl:part name="AuditHeader" element="log:auditInfo"/>
  </wsdl:message>

  <!--  message definitions -->
  <wsdl:message name="msgLogRequest">
    <wsdl:part name="LogEntry" element="log:logEntry"/>
  </wsdl:message>
  
  <wsdl:message name="msgArchiveLogRequest">
    <wsdl:part name="LogArchivalParameters" element="log:logArchivalParameters"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryLogRequest">
    <wsdl:part name="LogQueryCriteria" element="log:logQueryCriteria"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryLogResponse">
    <wsdl:part name="LogEntries" element="log:logEntries"/>
  </wsdl:message>
  
  <wsdl:message name="serviceFault">
    <wsdl:part name="serviceFaultDetail" element="log:serviceFaultDetail" />
  </wsdl:message>
  
  <wsdl:message name="voidResponse">
    <wsdl:part name="VoidResponse" element="log:void"/>
  </wsdl:message>
  

  <!-- interface / port type -->

  <wsdl:portType name="logServicePortType">
    <wsdl:documentation>
      opQueryLog
      query log entries based on a given query criteria.
      returns at maximum N log entries.
    </wsdl:documentation>

    <wsdl:operation name="opLog">
      <wsdl:input message="tns:msgLogRequest"/>
      <wsdl:output message="tns:voidResponse"/>
      <wsdl:fault name="serviceFault" message="tns:serviceFault"/>
    </wsdl:operation>
    
    <wsdl:operation name="opArchiveLog">
      <wsdl:input message="tns:msgArchiveLogRequest"/>
      <wsdl:output message="tns:voidResponse"/>
      <wsdl:fault name="serviceFault" message="tns:serviceFault"/>
    </wsdl:operation>

    <wsdl:operation name="opQueryLog">
      <wsdl:input message="tns:msgQueryLogRequest"/>
      <wsdl:output message="tns:msgQueryLogResponse"/>
      <wsdl:fault name="serviceFault" message="tns:serviceFault"/>
    </wsdl:operation>

  </wsdl:portType>
  
  
  <!-- bindings -->
  <wsdl:binding name="logService-soap11-binding" type="tns:logServicePortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="opLog">
      <soap11:operation soapAction="http://koku.fi/action/log/log"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap11:fault use="literal" name="serviceFault"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="opArchiveLog">
      <soap11:operation soapAction="http://koku.fi/action/log/archive"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap11:fault use="literal" name="serviceFault"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="opQueryLog">
      <soap11:operation soapAction="http://koku.fi/action/log/query"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap11:fault use="literal" name="serviceFault"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  
  <!-- service definitions -->
  <wsdl:service name="logService">
    <wsdl:port name="logService-soap11-port" binding="tns:logService-soap11-binding">
      <soap11:address location="http://localhost:8088/log/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
