userinfoservice-api/src/wsdl/employeeInfoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="authorizationInfoService"
  targetNamespace="http://services.koku.fi/utility/employee/v1"
  xmlns:tns="http://services.koku.fi/utility/employee/v1"
  xmlns:emp="http://services.koku.fi/utility/employee/v1"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:documentation>
    KoKu employee service contract definition.

    version: 0.1
    Ixonos / hanhian    
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://services.koku.fi/utility/employee/v1" schemaLocation="employeeInfo.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <!-- common messages -->

  <wsdl:message name="msgGetEmployeesByIdsRequest">
    <wsdl:part name="UserIds" element="emp:userIds"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetEmployeesByIdsResponse">
    <wsdl:part name="Employees" element="emp:employees"/>
  </wsdl:message>

  <wsdl:message name="msgGetEmployeesByPicsRequest">
    <wsdl:part name="EmployeePics" element="emp:employeePics"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetEmployeesByPicsResponse">
    <wsdl:part name="Employees" element="emp:employees"/>
  </wsdl:message>

  <wsdl:message name="serviceFault">
    <wsdl:part name="ServiceFaultDetail" element="emp:serviceFaultDetail" />
  </wsdl:message>
  
  <wsdl:message name="voidResponse">
    <wsdl:part name="VoidResponse" element="emp:void"/>
  </wsdl:message>

  <!-- interface / port type -->

  <wsdl:portType name="employeeInfoServicePortType">

    <wsdl:operation name="opGetEmployeesByIds">
      <wsdl:input message="tns:msgGetEmployeesByIdsRequest"/>
      <wsdl:output message="tns:msgGetEmployeesByIdsResponse"/>
      <wsdl:fault name="serviceFault" message="tns:serviceFault"/>
    </wsdl:operation>

	<wsdl:operation name="opGetEmployeesByPics">
      <wsdl:input message="tns:msgGetEmployeesByPicsRequest"/>
      <wsdl:output message="tns:msgGetEmployeesByPicsResponse"/>
      <wsdl:fault name="serviceFault" message="tns:serviceFault"/>
    </wsdl:operation>
	
  </wsdl:portType>

  <!-- bindings -->
  <wsdl:binding name="employeeInfoService-soap11-binding" type="tns:employeeInfoServicePortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="opGetEmployeesByIds">
      <soap11:operation soapAction="http://koku.fi/action/employee/id"/>
      <wsdl:input>
        <soap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap11:fault use="literal" name="serviceFault"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="opGetEmployeesByPics">
      <soap11:operation soapAction="http://koku.fi/action/employee/pic"/>
      <wsdl:input>
        <soap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap11:fault use="literal" name="serviceFault"/>
      </wsdl:fault>
    </wsdl:operation>
		
  </wsdl:binding>
  
    <!-- service definitions -->
  <wsdl:service name="employeeInfoService">
    <wsdl:port name="employeeInfoService-soap11-port" binding="tns:employeeInfoService-soap11-binding">
      <soap11:address location="http://localhost:8088/employeeInfo/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>