authorizationinfoservice-api/src/wsdl/authorizationInfoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="authorizationInfoService"
  targetNamespace="http://services.koku.fi/utility/authorization/v1"
  xmlns:tns="http://services.koku.fi/utility/authorization/v1"
  xmlns:authz="http://services.koku.fi/utility/authorization/v1"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:documentation>
    KoKu authorization service contract definition.

    version: 0.1
    Ixonos / aspluma
    
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://services.koku.fi/utility/authorization/v1" schemaLocation="authorizationInfo.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <!-- common messages -->

  <wsdl:message name="msgQueryGroupsRequest">
    <wsdl:part name="GroupQueryCriteria" element="authz:groupQueryCriteria"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryGroupsResponse">
    <wsdl:part name="Groups" element="authz:groups"/>
  </wsdl:message>

  <wsdl:message name="serviceFault">
    <wsdl:part name="ServiceFaultDetail" element="authz:serviceFaultDetail" />
  </wsdl:message>
  
  <wsdl:message name="voidResponse">
    <wsdl:part name="VoidResponse" element="authz:void"/>
  </wsdl:message>

  <!-- interface / port type -->

  <wsdl:portType name="authorizationInfoServicePortType">
    <wsdl:operation name="opQueryGroups">
      <wsdl:input message="tns:msgQueryGroupsRequest"/>
      <wsdl:output message="tns:msgQueryGroupsResponse"/>
      <wsdl:fault name="serviceFault" message="tns:serviceFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- bindings -->
  <wsdl:binding name="authorizationInfoService-soap11-binding" type="tns:authorizationInfoServicePortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="opQueryGroups">
      <soap11:operation soapAction="http://koku.fi/action/authorization/groups/query"/>
      <wsdl:input>
        <soap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap11:fault use="literal" name="serviceFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

    <!-- service definitions -->
  <wsdl:service name="authorizationInfoService">
    <wsdl:port name="authorizationInfoService-soap11-port" binding="tns:authorizationInfoService-soap11-binding">
      <soap11:address location="http://localhost:8088/authorizationInfo/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>