kksservice-api/src/wsdl/kks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://services.koku.fi/entity/kks/v1"
  xmlns="http://services.koku.fi/entity/kks/v1"
  elementFormDefault="qualified"
  version="0.4"
  >
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      KoKu KKS service message type definitions.
      Ixonos / tuomape
      Ixonos / aspluma
      
      TODO
      
      - Kokoelman hakuun parametreina laajuus (kirjaus mukana/ei) )		
      
      - Kokoelma updaten tulee sisältää tuki versioinnille
	

    </xsd:documentation>
  </xsd:annotation>
  
  
  <!-- element for collection type (collection metadata) -->
  <xsd:element name="kksCollectionClass" type="KksCollectionClassType"/>
  
  <!-- element for entry type (entry metadata) -->
  <xsd:element name="kksEntryClass" type="KksEntryClassType"/>
  
  <!-- element for collection -->
  <xsd:element name="kksCollection" type="KksCollectionType"/>
  
  <!-- element for single entry -->
  <xsd:element name="kksEntry" type="KksType"/>
  
  <!-- element for classification -->
  <xsd:element name="kksTag" type="KksTagType"/>
  
  <!-- element for entry groups -->
  <xsd:element name="kksGroup" type="KksGroupType"/>
  
  <!-- element for search criteria -->
  <xsd:element name="kksQueryCriteria" type="KksQueryCriteriaType"/>  
  
  <!-- element for persons kks collection -->
  <xsd:element name="kks" type="KksType"/> 
  
  <!-- element for customer's pic -->
  <xsd:element name="customerPic" type="xsd:string"/>
  
  <!-- element for collection class type name -->
  <xsd:element name="kksCollectionClassName" type="xsd:string"/>
  
  <!-- element for collection class type names -->
  <xsd:element name="kksCollectionClassNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
  
  <!-- element for collection id -->
  <xsd:element name="kksCollectionId" type="xsd:string"/>
  
    <!-- element for general operation succeed (TEMP solution) -->
  <xsd:element name="kksOperationSuccess" type="xsd:boolean"/>
  
  <xsd:element name="kksCollections" type="KksCollectionsType"/>
  <xsd:element name="kksTags" type="KksTagsType"/>
  <xsd:element name="kksTagIds" type="KksTagIdsType"/>
  <xsd:element name="kksEntryClassId" type="xsd:string"/> 

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      kksCollections: persons kks collections
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksType">
    <xsd:sequence>
      <xsd:element name="kksCollections" type="KksCollectionsType"/> 
    </xsd:sequence>
  </xsd:complexType>  
  
  <xsd:complexType name="KksCollectionsType">
    <xsd:sequence>
      <xsd:element name="kksCollection" type="KksCollectionType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>  
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      pic: search target person pic
      kksTagIds: search kks tag ids
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksQueryCriteriaType">
    <xsd:sequence>
      <xsd:element name="pic" type="xsd:string"/>
      <xsd:element name="kksTagIds" type="KksTagIdsType"/>     
     </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="KksTagIdsType">
    <xsd:sequence>
      <xsd:element name="kksTagId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>   

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      id: Collection type identifier
      name: Collection type name
      kksGroups: Collection groups
      kksEntryClasses: Collections entry classes
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksCollectionClassType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="kksGroups" type="KksGroupsType"/> <!-- kun otettiin pois ryhmä -> kirjaustyyppi suhde, jää tämän elementin relaatio oudoksi -->
      <xsd:element name="kksEntryClasses" type="KksEntryClassesType" /> <!-- koska se joutuu sisältämään ryhmä määritykset, sekä kirjaustyypit (ennen kirjaustyypit löytyi groupeista) -->
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="KksGroupsType">
    <xsd:sequence>
      <xsd:element name="kksGroup" type="KksGroupType" minOccurs="0" maxOccurs="unbounded"  />
    </xsd:sequence>
  </xsd:complexType> 
  
    <xsd:complexType name="KksEntryClassesType">
    <xsd:sequence>
		<xsd:element name="kksEntryClass" type="KksEntryClassType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>   
  

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      id: Group identifier
      order: Group order
      name: Group name
      description: Group description
      register: Register where group entry types are managed
      childGroups: Groups child groups
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksGroupType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="order" type="xsd:integer"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="register" type="xsd:string"/>
      <xsd:element name="childGroups" type="KksGroupsType" /> 
    </xsd:sequence>
  </xsd:complexType>

  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      id: Entry type identifier
      sortOrder: entry type sort order
      name: Entry type name
      description: Entry type description
      multiValue: Is entry type multivalue field or not
      dataType: Entry type data type (text, free_text, select, multi_select)
      valueSpaces: What kind of selection choices entry type can have (example checkbox choices etc)
      topGroupId: top group name (huoltaja, neuvola, etc), default value is empty  
      secondGroupId: second group(lapsen tiedot, mittaukset, etc), default value is empty  
      register: Register where entry type is managed
      kksTagIds: entry type's tags
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksEntryClassType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="sortOrder" type="xsd:integer"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="multiValue" type="xsd:boolean"/>
      <xsd:element name="dataType" type="xsd:string"/>
      <xsd:element name="valueSpaces" type="ValueSpacesType"/> 
      <xsd:element name="topGroupId" type="xsd:string" default=""/> 
      <xsd:element name="secondGroupId" type="xsd:string" default=""/>
      <xsd:element name="register" type="xsd:string"/>
      <xsd:element name="kksTagIds" type="KksTagIdsType"/> 
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ValueSpacesType">
    <xsd:sequence>
		<xsd:element name="valueSpace" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType> 
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      id: classification identifier
      name: classification name
      description: classification description
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksTagType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
     
  <xsd:complexType name="KksTagsType">
    <xsd:sequence>
		<xsd:element name="kksTag" type="KksTagType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>   
     
   <xsd:annotation>
    <xsd:documentation xml:lang="en">
      id: Entry identifier
      modified: when entry was last modified
      creator: who made the entry
      version: entry version
      entryClassId: entry class id
      kksTagIds: entry specific tags
      entryValues: entry value(s)
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksEntryType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="modified" type="xsd:dateTime"/>
      <xsd:element name="creator" type="xsd:string"/>
      <xsd:element name="version" type="xsd:integer"/>
      <xsd:element name="entryClassId" type="xsd:string"/> 
      <xsd:element name="kksTagIds" type="KksTagIdsType"/> 
      <xsd:element name="entryValues" type="EntryValuesType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="EntryValuesType">
    <xsd:sequence>
		<xsd:element name="entryValue" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType> 
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      id: collection identifier
      name: collection name
      description: collection description
      status: collection status (active, locked)
      created: when the collection was created
      version: collection version
      collectionClassId: collection class id
      kksEntries: collection entries
      nextVersion: link to next collection version (if exist)
      prevVersion: link to previous collection (if exist)
      versioned: is collection versioned
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="KksCollectionType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="created" type="xsd:dateTime"/>
      <xsd:element name="version" type="xsd:integer"/>
      <xsd:element name="collectionClassId" type="xsd:string"/> 
      <xsd:element name="kksEntries" type="KksEntriesType" /> 
      <xsd:element name="nextVersion" type="xsd:string"/>
      <xsd:element name="prevVersion" type="xsd:string"/>
      <xsd:element name="versioned" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="KksEntriesType">
    <xsd:sequence>
		<xsd:element name="entries" type="KksEntry" minOccurs="0" maxOccurs="unbounded"/> 
    </xsd:sequence>
  </xsd:complexType>
 
  
  <!-- common type and element definitions -->

  <xsd:element name="auditInfo" type="auditInfoType"/>

  <xsd:complexType name="auditInfoType">
    <xsd:sequence>
      <xsd:element name="component" type="xsd:string"/>
      <xsd:element name="userId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="numericId">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+" />
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
