kksservice-api/src/wsdl/kksService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="kksService"
  targetNamespace="http://services.koku.fi/entity/kks/v1"
  xmlns:tns="http://services.koku.fi/entity/kks/v1"
  xmlns:kks="http://services.koku.fi/entity/kks/v1"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:documentation>
    KoKu KKS service contract definition.

    version: 0.6
    Ixonos / tuomape
    Ixonos / aspluma
    
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace= "http://skeemat.jhs-suositukset.fi/yhteiset/2009/10/19" schemaLocation="jhs-ydin-20091019.xsd"/>
      <xsd:import namespace="http://services.koku.fi/entity/kks/v1" schemaLocation="kks.xsd"/>
    </xsd:schema>
        
  </wsdl:types>

  <!-- common messages -->
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://services.koku.fi/entity/kks/v1"
  			schemaLocation="kks.xsd">
  		</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="AuditHeader">
    <wsdl:part name="AuditHeader" element="kks:auditInfo"/>
  </wsdl:message>

	<!-- metadata related message definitions -->
  <wsdl:message name="msgGetKksTagsRequest">
    <wsdl:part name="KksTagIds" element="kks:kksTagIds"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksTagsResponse">
    <wsdl:part name="KksTags" element="kks:kksTags"/>
  </wsdl:message>    
    
  <wsdl:message name="msgGetKksCollectionClassesRequest">
  	 <wsdl:part name="KksScope" element="kks:kksScope"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksCollectionClassesResponse">
    <wsdl:part name="KksCollectionClasses" element="kks:kksCollectionClasses"/>
  </wsdl:message>  
  
  <!--  message definitions -->
  <wsdl:message name="msgGetKksRequest">
    <wsdl:part name="KksCollectionCriteria" element="kks:kksCollectionCriteria"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksResponse">
    <wsdl:part name="KksType" element="kks:kks"/>    
  </wsdl:message>  

  <wsdl:message name="msgAddKksCollectionRequest">
    <wsdl:part name="KksCollectionClassName" element="kks:kksCollectionClassName"/>
  </wsdl:message>
  
  <wsdl:message name="msgAddKksCollectionResponse">
    <wsdl:part name="KksCollection" element="kks:kksCollection"/>
  </wsdl:message>
    
  <wsdl:message name="msgGetKksCollectionRequest">
    <wsdl:part name="KksCollectionId" element="kks:kksCollectionId"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksCollectionResponse">
    <wsdl:part name="KksCollection" element="kks:kksCollection"/>
  </wsdl:message>  
  
  <wsdl:message name="msgUpdateKksCollectionRequest">
    <wsdl:part name="KksCollection" element="kks:kksCollection"/>
  </wsdl:message>
  
  <wsdl:message name="msgUpdateKksCollectionResponse">
    <wsdl:part name="KksOperationSuccess" element="kks:kksOperationSuccess"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryKksCriteriaRequest">
    <wsdl:part name="KksQueryCriteria" element="kks:kksQueryCriteria"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryKksCriteriaResponse">
    <wsdl:part name="KksCollections" element="kks:kksCollections"/>
  </wsdl:message>
  

  <!-- interface / port type -->
  <wsdl:portType name="KksServicePortType">
  
  	<!-- metadata related port types -->
    <wsdl:operation name="opGetKksTags">
      <wsdl:input message="tns:msgGetKksTagsRequest"/>
      <wsdl:output message="tns:msgGetKksTagsResponse"/>
    </wsdl:operation>
        
    <wsdl:operation name="opGetKksCollectionClasses">
      <wsdl:input message="tns:msgGetKksCollectionClassesRequest"/>
      <wsdl:output message="tns:msgGetKksCollectionClassesResponse"/>
    </wsdl:operation>   
    
    <!-- data related port types -->
    <wsdl:operation name="opGetKks">
      <wsdl:input message="tns:msgGetKksRequest"/>
      <wsdl:output message="tns:msgGetKksResponse"/>
    </wsdl:operation>
      
    <wsdl:operation name="opGetKksCollection">
      <wsdl:input message="tns:msgGetKksCollectionRequest"/>
      <wsdl:output message="tns:msgGetKksCollectionResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="opAddKksCollection">
      <wsdl:input message="tns:msgAddKksCollectionRequest"/>
      <wsdl:output message="tns:msgAddKksCollectionResponse"/>
    </wsdl:operation>
 
    <wsdl:operation name="opUpdateKksCollection">
      <wsdl:input message="tns:msgUpdateKksCollectionRequest"/>
      <wsdl:output message="tns:msgUpdateKksCollectionResponse"/>
    </wsdl:operation>
     
    <wsdl:operation name="opQueryKks">
      <wsdl:input message="tns:msgQueryKksCriteriaRequest"/>
      <wsdl:output message="tns:msgQueryKksCriteriaResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  
  
  <!-- bindings -->
  <wsdl:binding name="kksService-soap11-binding" type="tns:KksServicePortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="opGetKksTags">
      <soap11:operation soapAction="http://koku.fi/action/kks/tags/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksCollectionClasses">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/class/names/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opGetKks">
      <soap11:operation soapAction="http://koku.fi/action/kks/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opAddKksCollection">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/add"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksCollection">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opUpdateKksCollection">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/update"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opQueryKks">
      <soap11:operation soapAction="http://koku.fi/action/kks/entries/query"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>        
  </wsdl:binding>

  
  <!-- service definitions -->
  <wsdl:service name="kksService">
    <wsdl:port name="kksService-soap11-port" binding="tns:kksService-soap11-binding">
      <soap11:address location="http://localhost:8088/kks/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
