kksservice-api/src/wsdl/kksService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="kksService"
  targetNamespace="http://services.koku.fi/entity/kks/v1"
  xmlns:tns="http://services.koku.fi/entity/kks/v1"
  xmlns:kks="http://services.koku.fi/entity/kks/v1"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:documentation>
    KoKu KKS service contract definition.

    version: 0.4
    Ixonos / tuomape
    Ixonos / aspluma
    
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://services.koku.fi/entity/kks/v1" schemaLocation="kks.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <!-- common messages -->
  <wsdl:message name="AuditHeader">
    <wsdl:part name="AuditHeader" element="kks:auditInfo"/>
  </wsdl:message>

  <!--  message definitions -->
  <wsdl:message name="msgGetKksRequest">
    <wsdl:part name="CustomerPic" element="kks:customerPic"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksResponse">
    <wsdl:part name="KksType" element="kks:kks"/>
  </wsdl:message>  

  <wsdl:message name="msgGetKksTagsRequest">
    <wsdl:part name="KksTagIds" element="kks:kksTagIds"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksTagsResponse">
    <wsdl:part name="KksTags" element="kks:kksTags"/>
  </wsdl:message>    
  
  <wsdl:message name="msgGetKksEntryClassRequest">
    <wsdl:part name="KksEntryClassId" element="kks:kksEntryClassId"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksEntryClassResponse">
    <wsdl:part name="KksEntryClass" element="kks:kksEntryClass"/>
  </wsdl:message>    
  
  
  <!-- single collection class (collection metadata) request -->
  <wsdl:message name="msgGetKksCollectionClassRequest">
    <wsdl:part name="KksCollectionClassName" element="tns:kksCollectionClassName"/>
  </wsdl:message>
    
  <wsdl:message name="msgGetKksCollectionClassResponse">
    <wsdl:part name="KksCollectionClass" element="tns:kksCollectionClass"/>
  </wsdl:message>
    
   <!-- collection class names request --> 
  <wsdl:message name="msgGetKksCollectionClassNamesRequest"/>
  
  <wsdl:message name="msgGetKksCollectionClassNamesResponse">
    <wsdl:part name="KksCollectionClassNames" element="tns:kksCollectionClassNames"/>
  </wsdl:message>
  
  <wsdl:message name="msgAddKksCollectionRequest">
    <wsdl:part name="KksCollectionClassName" element="tns:tns:kksCollectionClassName"/>
  </wsdl:message>
  
  <wsdl:message name="msgAddKksCollectionResponse">
    <wsdl:part name="KksCollection" element="tns:kksCollection"/>
  </wsdl:message>
    
  <wsdl:message name="msgGetKksCollectionRequest">
    <wsdl:part name="KksCollectionId" element="tns:kksCollectionId"/>
  </wsdl:message>
  
  <wsdl:message name="msgGetKksCollectionResponse">
    <wsdl:part name="KksCollection" element="tns:kksCollection"/>
  </wsdl:message>  
  
  <wsdl:message name="msgUpdateKksCollectionRequest">
    <wsdl:part name="KksCollection" element="tns:kksCollection"/>
  </wsdl:message>
  
  <wsdl:message name="msgUpdateKksCollectionResponse">
    <wsdl:part name="KksOperationSuccess" element="tns:kksOperationSuccess"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryKksCriteriaRequest">
    <wsdl:part name="KksQueryCriteria" element="tns:kksQueryCriteria"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryKksCriteriaResponse">
    <wsdl:part name="KksCollections" element="tns:kksCollections"/>
  </wsdl:message>
  
  
  <!-- interface / port type -->
  <wsdl:portType name="KksServicePortType">
  
    <wsdl:operation name="opGetKks">
      <wsdl:input message="tns:msgGetKksRequest"/>
      <wsdl:output message="tns:msgGetKksResponse"/>
    </wsdl:operation>
  
    <wsdl:operation name="opGetKksTags">
      <wsdl:input message="tns:msgGetKksTagsRequest"/>
      <wsdl:output message="tns:msgGetKksTagsResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksEntryClass">
      <wsdl:input message="tns:msgGetKksEntryClassRequest"/>
      <wsdl:output message="tns:msgGetKksEntryClassResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksCollectionClass">
      <wsdl:input message="tns:msgGetKksCollectionClassResponse"/>
      <wsdl:output message="tns:msgGetKksCollectionClassResponse"/>
    </wsdl:operation>    
    
    <wsdl:operation name="opGetKksCollectionClassNames">
      <wsdl:input message="tns:msgGetKksCollectionClassNamesRequest"/>
      <wsdl:output message="tns:msgGetKksCollectionClassNamesResponse"/>
    </wsdl:operation>    
    
    <wsdl:operation name="opGetKksCollection">
      <wsdl:input message="tns:msgGetKksCollectionRequest"/>
      <wsdl:output message="tns:msgGetKksCollectionResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="opAddKksCollection">
      <wsdl:input message="tns:msgAddKksCollectionRequest"/>
      <wsdl:output message="tns:msgAddKksCollectionResponse"/>
    </wsdl:operation>
 
    <wsdl:operation name="opUpdateKksCollection">
      <wsdl:input message="tns:msgUpdateKksCollectionRequest"/>
      <wsdl:output message="tns:msgUpdateKksCollectionResponse"/>
    </wsdl:operation>
     
    <wsdl:operation name="opQueryKks">
      <wsdl:input message="tns:msgQueryKksCriteriaRequest"/>
      <wsdl:output message="tns:msgQueryKksCriteriaResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  
  
  <!-- bindings -->
  <wsdl:binding name="kksService-soap11-binding" type="tns:KksServicePortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="opGetKks">
      <soap11:operation soapAction="http://koku.fi/action/kks/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opGetKksTags">
      <soap11:operation soapAction="http://koku.fi/action/kks/tags/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksEntryClass">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/entry/class/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opGetCollectionClass">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/class/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksCollectionClassNames">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/class/names/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opAddKksCollection">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/add"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opGetKksCollection">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/get"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opUpdateKksCollection">
      <soap11:operation soapAction="http://koku.fi/action/kks/collection/update"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="opQueryKks">
      <soap11:operation soapAction="http://koku.fi/action/kks/entries/query"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <soap11:header use="literal" part="AuditHeader" message="tns:AuditHeader" wsdl:required="true"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        
  </wsdl:binding>

  
  <!-- service definitions -->
  <wsdl:service name="kksService">
    <wsdl:port name="kksService-soap11-port" binding="tns:kksService-soap11-binding">
      <soap11:address location="http://localhost:8088/kks/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
